/* Write your CSS here */
.layout-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.responsive-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  max-width: 552px;
}

@media screen and (min-width: 768px) {
  .responsive-container {
    max-width: 1138px;
  }
}
